<!DOCTYPE html>
<html>
<head>
	<title>TESTING</title>
</head>
<body>
	<h1>Halo, apa kabar?</h1>
	<form method="POST" action="{% url 'uji' %}">
		{% csrf_token %}
		{{ form.msg }}
		<button id="send" type="Submit" class="btn">Send</button>
	</form>
	
	{% for s in status %}
		<section style="border: 1px black solid; max-width: 50%">
			<p class="stats" style="max-width: 100%; word-wrap: break-word;">{{ s.msg }}</p>{{ s.date }}
			<br>
		</section>
	{% endfor %}
</body>
</html>